:root {
  --width: 100%;
}

body {
  margin: 0;
  font-family: Lato, Helvetica, sans-serif;
}

header {
  text-align: center;
  width: 100%;
  padding: 50px 0;
}

h1, h2, h3, button {
  font-family: Lato, Helvetica, sans-serif;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

.matt-and-mary {
  letter-spacing: .28rem;
  margin-block-end: 2rem;
  padding: 0 8px;
  font-family: Cardo, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: normal;
}

.date {
  letter-spacing: .1rem;
  margin-block-end: 2rem;
  padding: 0 8px;
  font-family: Cardo, Helvetica, sans-serif;
  font-size: 1.25rem;
}

nav {
  flex-direction: row;
  display: flex;
}

.nav {
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
  padding: 32px 8px;
  display: flex;
}

.nav button {
  color: #62707f;
  background-color: #fff;
  border: none;
  flex-direction: row;
  margin: 0 auto;
  padding: 4px 8px;
  font-size: 1.1rem;
  text-decoration: none;
}

a:focus-visible, button:focus-visible {
  outline: 2px solid #62707f;
}

.nav button:hover, .nav button:focus-visible {
  z-index: 200;
  border-bottom: 2px solid #62707f;
}

.nav button:hover {
  cursor: pointer;
}

.nav button[aria-current="true"] {
  border-bottom: 2px solid #62707f;
}

.nav hr {
  color: #62707f;
  width: 150px;
  height: 0;
  margin-block-start: .75rem;
}

main {
  padding-bottom: 100px;
}

a {
  color: #007575;
  padding: 4px 0;
}

a:hover {
  color: #9f2b68;
}

.container {
  letter-spacing: .05rem;
  width: 1000px;
  margin: 0 auto;
  padding: 0 8px;
  font-size: 1.1rem;
  line-height: 1.5;
}

#wedding-details {
  padding-right: 16px;
}

.banner {
  width: 380px;
}

.img-right {
  float: right;
  padding-bottom: 32px;
  padding-left: 16px;
}

#wedding-details h3, #accommodations {
  margin-block-start: 4rem;
}

#cat {
  margin-block-start: 4rem;
  background-color: #dfe4e7;
  flex-direction: row;
  justify-content: space-between;
  width: 640px;
  margin: 0 auto;
  display: flex;
}

footer {
  background-color: #dfe4e7;
}

canvas {
  image-rendering: pixelated;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.bijou-text {
  margin-block-start: 58px;
  font-family: Quicksand, Helvetica, sans-serif;
  font-size: 1rem;
}

.bijou-button {
  color: #fff;
  letter-spacing: .05rem;
  background-color: #62707f;
  border: none;
  border-radius: 18px;
  margin-bottom: 50px;
  padding: 10px;
  font-family: Quicksand, Helvetica, sans-serif;
}

.bijou-button:focus-visible {
  border: 2px solid #fff;
  outline: 2px solid #000;
}

.bijou-button:hover {
  cursor: pointer;
}

#faq p {
  margin-block: .75rem 2.5rem;
}

@media screen and (width <= 1032px) {
  .container {
    width: 90%;
  }
}

@media screen and (width <= 740px) {
  #cat {
    text-align: center;
    flex-direction: column;
    width: 90%;
  }

  canvas {
    margin: 0 auto;
  }

  .bijou-text {
    margin-block-start: 0;
  }

  .nav {
    width: calc(max(60%, 240px));
  }

  .nav hr {
    display: none;
  }
}

@media screen and (width <= 640px) {
  header {
    padding: 25px 0;
  }

  #wedding, #travel-details {
    flex-direction: column;
  }

  .banner {
    width: 100%;
  }
}

@media screen and (width <= 440px) {
  .matt-and-mary {
    font-size: 3rem;
  }

  .nav {
    padding: 0;
  }

  main {
    padding-bottom: 50px;
  }
}
/*# sourceMappingURL=index.1303bb05.css.map */
